@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  rgb(24, 24, 24);
}


/* MODIFICANDO O HEADER */


/*Parte do Acesso e Redes Sociais do Site*/
div#container-conta-redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
div.rede-social {
    background-image: url(https://img.freepik.com/vetores-gratis/conjunto-de-icones-de-midia-social-com-logotipos-do-facebook-instagram-twitter-tiktok-e-youtube_53876-126273.jpg?w=2000);
    width: 24px;
    height: 24px;
    border: 1px solid black;
    background-size: cover;
}

div#redes-sociais > ul {
    display: flex;
    width: 200px;
    justify-content: space-around;
    list-style: none;
}

a.link-rede-social {
    max-width: 24px;
    min-width: 24px;
}

div#facebook {
    background-position: 1656.5px -246px;
    background-size: 950%;
    border-radius: 50%;
}

div#twitter {
    background-position: 1083px -246px;
    background-size: 950%;
    border-radius: 50%;
}

div#instagram {
    background-position: 1369.5px -246px;
    background-size: 950%;
    border-radius: 50%;
}

div#youtube {
    background-position: 1369.5px -280px;
    background-size: 950%;
    border-radius: 50%;
}

header {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

header a:hover {
    color: #D45318;
    transition: color 1s;
    text-decoration: underline;
}

div#minha-conta
{
    min-width: 200px;
    max-width: 200px;
    justify-content: space-between;
    display: flex;
}

/* Alterando Continer Acessos */

div#container-acessos {
    height: 60px;
    background-color: #191919;
}

/* Alterando Nav */

/* Seção Propaganda */

section#propaganda {
    height: 250px;
    background-color: rgb(44, 18, 44);
}

/* MODIFICANDO O MAIN */

img {
    width: 300px;
}