@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: url(../ex004/anime-fundo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    width: 700px;
    margin: 50px auto;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

main h1 {
    text-align: center;
}

main p {
    text-align: justify;
    text-indent: 20px;
}

table {
    width: 500px;
    margin: auto;
    border-collapse: collapse; /* Une as bordas das células que antes estavam separadas! */
    position: relative;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}

thead, tfoot {
    background-color: gray;
    color: aliceblue;
}

thead > tr > th {
    /*position: sticky;*/ /* Está assim pq ainda não funciona bem em todos os navegadores, eu acho... */
    top: -1px;
    background-color: gray; /*Use a mesma cor que a de fundo da linha do cabeçalho!*/
}

tbody tr:nth-child(2n) {
    background-color: lightgray;
}

tr {
    text-align: center;
}

td, th {
    border: 1px solid black;
    padding: 3px;
}

.Norte {
    color: green;
}

.Nordeste {
    color: rebeccapurple;
}

.Centro-Oeste {
    color: orangered;
}

.Sudeste {
    color: red;
}

.Sul {
    color: royalblue;
}