@charset "UTF-8";

* {
    margin: 0;
    border: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url(../imagens/anime-fundo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

img.celular {
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}

iframe {
    height: 530px;
    width: 300px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

section#icons ul {
    list-style: none;
    text-align: right;
}

img.logo {
    height: 70px;
    width: auto;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    box-sizing: border-box;
}

img.logo:hover {
    border: 3px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
    transition: transform 0.3s, border 0.1s;
}