@charset "UTF-8";

body {
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/00/db/2e/00db2e51ea28e1225dabbca572675797.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    background-color: white;
    width: 700px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 20px;
}

main h1 {
    text-align: center;
}

main p {
    text-indent: 20px;
}

#imagem1 {
    height: 300px;
}

#imagem2 {
    height: 200px;
}

.imagem {
    text-align: center;
}
