@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;800&display=swap');

:root {
    --cor-fundo: rgb(9, 9, 19);
    --cor-fundo-header: rgb(12, 12, 22);
    --cor-fonte-padrao: rgb(224, 222, 222);
    --cor-borda-image: black;
    --cor-shadow-header: rgba(0, 0, 0, 0.274);
    --cor-fundo-menu-hover: rgb(22, 22, 36);
    --cor-fundo-menu: rgb(19, 19, 34);
    --cor-itens-menu-header: rgb(29, 29, 41);
    --cor-fundo-nav: rgb(16, 16, 26);
    --cor-fundo-iframe: rgba(22, 22, 31, 0.589);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor-fonte-padrao);
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--cor-fundo);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/*Editando o header*/

header {
    background-color: var(--cor-fundo-header);
    height: 350px;
    box-shadow: 0px 15px 20px var(--cor-shadow-header);
}

div.mudar-imagem {
    background-image: url(../imagens/mudar-imagem.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    border: 2px solid var(--cor-borda-image);
    border-radius: 50%;
}

header div.imagem-capa {
    position: relative;
    height: 200px;
    border-bottom: 2px solid var(--cor-fonte-padrao);
    background-image: url(../imagens/imagem-fundo.jpg);
    background-position: center center;
}

header div.imagem-capa div.mudar-imagem {
    position: absolute;
    right: 10px;
    top: 65%;
}

header img.imagem-perfil {
    position: absolute;
    left: 30px;
    top: 70px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--cor-fonte-padrao);
}

header div.header {
    position: relative;
    height: 150px;
}

h1 {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    margin-left: 300px;
    align-items: center;
    font-size: 3em;
}

/*Botão de Seguir*/

header div.header div.mudar-imagem {
    position: absolute;
    left: 40px;
    top: 60px;
}

div.seguir {
    background-color: var(--cor-fundo-menu);
    position: absolute;
    align-items: center;
    top: 80px;
    right: 30px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 1.5em;
}

div.seguir > div {
    justify-content: space-between;
    margin: 5px 15px;
    display: flex;
}

div.seguir div hr {
    padding: 0px;
    width: 0.3px;
    margin: 0px 5px;
}

input[type="checkbox"] {
    margin-top: 2px;
    height: 25px;
    width: 25px;
    appearance: none;
    background-image: url(../imagens/seguir.png);
    background-size: cover;
}

p.seguindo {
    display: none;
}

/*Menu do Header*/

ul {
    list-style: none;
}

div.menu-header {
    position: absolute;
    top: 80px;
    right: 200px;
    height: 40px;
    width: 40px;
    background-color: var(--cor-fundo-menu);
    border-radius: 5px;
}

div.menu-header ul {
    position: relative;
}

div.menu-header ul li.menu-header {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -35%);
    font-size: 40px;
}

div.menu-header ul li.menu-header ul.menu-header {
    display: none;
    position: absolute;
    top: 28px;
    right: -10px;
    padding-top: 30px;
}

div.menu-header ul li.menu-header ul.menu-header li.triangulo-menu {
    position: relative;
    background-image: url(../imagens/triangulo-menu-header.png);
    background-position: center center;
    background-size: cover;
    height: 50px;
    width: 50px;
}

div.menu-header ul li.menu-header ul.menu-header li ul {
    position: absolute;
    top: 25px;
    right: -25px;
    background-color: var(--cor-fundo-menu-hover);
    width: 100px;
    padding: 5px;
}

div.menu-header ul li.menu-header ul.menu-header li ul li {
    background-color: var(--cor-fundo-menu-hover);
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}

/*Editando conteúdo da página*/

div.principal {
    display: flex;
}

/*     EDITANDO O LADO ESQUERDO DA PÁGINA     */

div.cont-esquerda {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    min-width: 70%;
    height: 500px;
}

/*Editando o Nav*/

nav {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: var(--cor-fundo-header);
}

nav ul.nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: var(--cor-fundo-header);
}

nav ul.nav li {
    width: 100%;
}

nav ul.nav li {
    width: 100%;
    padding: 12px;
    text-align: center;
    font-size: 1.3em;
    border-right: 1px solid var(--cor-fonte-padrao); 
} 

nav ul.nav li a.menu-nav {
    text-decoration: none;
    padding: 12px 80px;
}

/*Editando o Main*/

main {
    width: 100%;
    align-items: center;
    padding: 5%;
}

iframe#iframe-conteudo {
    background-color: var(--cor-fundo-iframe);
    padding: 50px 40px 20px 40px;
    border-radius: 20px;
    width: 100%;
    height: 420px;
    margin: auto;
}

/*    EDITANDO O LADO DIREITO DA PÁGINA    */

div.cont-direita {
    max-width: 30%;
    min-width: 30%;
    background-color: blueviolet;
}

/*Section lado direito*/


/*Checkbox seguir checked*/

input[type="checkbox"]:checked {
    margin-top: 4px;
    background-image: url(../imagens/seguindo2.png);
    filter: invert(100%);
}

div label:checked p.seguir {
    display: none;
}

div label:checked p.seguindo {
    display: block;
}

/*hover*/

header img.imagem-perfil:hover {
    border: 4px solid var(--cor-fonte-padrao);
}

div.mudar-imagem:hover {
    filter: invert(95%);
    cursor: pointer;
}

div.seguir:hover {
    background-color: var(--cor-fundo-menu-hover);
    cursor: pointer;
}

div.seguir div label:hover {
    cursor: pointer;
}

div.seguir div input:hover {
    cursor: pointer;
}

div.menu-header:hover {
    cursor: pointer;
    background-color: var(--cor-fundo-menu-hover);
}

div.menu-header:hover ul li.menu-header ul {
    display: block;
}

div.menu-header:hover ul li.menu-header ul.menu-header {
    display: block;
}

div.menu-header ul li.menu-header ul.menu-header li ul li:hover {
    background-color: var(--cor-itens-menu-header);
}

nav ul.nav li:hover {
    background-color: var(--cor-fundo-nav);
}

@media screen and (max-width: 1250px) {

    /*Deixando o nav responsivo*/

    nav ul.nav li a.menu-nav {
        text-decoration: none;
        padding: 12px 60px;
    }
}

@media screen and (max-width: 1070px) {

    /*Deixando o nav responsivo*/

    nav ul.nav li a.menu-nav {
        text-decoration: none;
        padding: 12px 40px;
    }
}

@media screen and (max-width: 900px) {

    /*Deixando o nav responsivo*/

    nav ul.nav li a.menu-nav {
        text-decoration: none;
        padding: 12px 20px;
    }
}

@media screen and (max-width: 730px) {

    /*Deixando o nav responsivo*/

    nav ul.nav li a.menu-nav {
        text-decoration: none;
        padding: 12px 10px;
    }
}

@media screen and (max-width: 640px) {

    /*Deixando o nav responsivo*/

    nav ul.nav li {
        font-size: 110%;
    }

    nav ul.nav li a.menu-nav {
        text-decoration: none;
        padding: 12px 10px;
    }
}

@media screen and (max-width: 570px) {

    /*Mudar o formato do site nesse aqui*/

}