@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

:root {
    --cor-normal: white;
    --cor-especial: black;
    --cor-especial-imagem: rgba(0, 0, 0, 0.849);
}

header {
    background-color: var(--cor-especial);
    color: var(--cor-normal);
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: var(--cor-normal);
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: var(--cor-normal);
    color: var(--cor-especial);
}

section.imagem {
    background-color: aqua;
}

section.imagem > p {
    background-color: var(--cor-especial-imagem);
    width: 400px;
    padding-left: 10px;
}

footer {
    background-color: var(--cor-especial);
    color: var(--cor-normal);
    text-align: center;
    padding: 10px;
}

