@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; esse comando está bugando o texto do site não sei porquê*/
}

body {
    background-image: linear-gradient(to right, #7A7BC2, #5154F7);
}

main {
    background-color: white;
    border-radius: 10px; /*Serve para deixar as bordas do bloco "main" arredondadas*/
    box-shadow: 5px 5px 15px rgba(44, 22, 65, 0.6); /*Parâmetros da sombra: quanto ela vai andar para o lado, quanto ela vai andar para baixo, 
    quanto ela vai espalhar, transparência da sombra*/
    width: 600px; /*Espaço ocupado pelo main no site*/
    padding: 10px; /*Distância entre a borda do bloco "main" e o texto em seu interior*/
    margin: auto; /*Centraliza o "main" na tela, independente do tamanho dela*/
}
 /*Se você quer trabalhar com monocromia sempre desça o mouse para baixo ou para cima, assim você só vai alterar a tonalidade da cor*/
h1 {
    color: #462268;
    text-align: center;
    text-shadow: 1px 1px 2px #2c1641;
    }

h2 {
    color: #3d3699;
}

p {
    text-align: justify;
}