@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;800&display=swap');

:root {
    --cor-fundo: rgb(9, 9, 19);
    --cor-fundo-header: rgb(12, 12, 22);
    --cor-fonte-padrao: rgb(224, 222, 222);
    --cor-borda-image: black;
    --cor-shadow-header: rgba(0, 0, 0, 0.274);
    --cor-fundo-menu-hover: rgb(22, 22, 36);
    --cor-fundo-menu: rgb(19, 19, 34);
    --cor-itens-menu-header: rgb(29, 29, 41);
    --cor-fundo-nav: rgb(16, 16, 26);
    --cor-lista-cursos: rgb(11, 11, 27);
    --cor-lista-modulo-curso: rgb(11, 11, 35);
    --cor-lista-hover: rgba(29, 29, 58, 0.527);
    --cor-link-hover: rgb(171, 169, 173);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor-fonte-padrao);
    font-family: 'Rubik', sans-serif;
}

body {
    width: 90vw;
}

a {
    text-decoration: none;
}

/* Colocando cor de fundo e estilizando um pouco os itens da lista */

div.item {
    background-color: var(--cor-lista-cursos);
    max-width: 150px;
    min-width: 150px;
    padding: 4px;
}

div.item2 {
    background-color: var(--cor-lista-modulo-curso);
    max-width: 150px;
    min-width: 150px;
    padding: 4px;
}

div.item-lista {
    padding: 6px;
    display: flex;
    justify-content: space-between;
}

div.item-lista:hover {
    background-color: var(--cor-lista-hover);
    border-radius: 4px;
    color: var(--cor-link-hover);
}

li.lista:hover > div div.item-lista div.seta {
    background-image: url(../../imagens/seta-branca-hover-cima.png);
}

div.item-lista:hover div.seta {
    filter: invert(30%);
}

div.seta {
    margin-top: 4px;
    height: 15px;
    width: 10px;
    background-image: url(../../imagens/seta-branca-baixo.png);
    background-position: bottom center;
    background-size: cover;
}



/* Editando a lista */

ul {
    list-style: none;
}

li.lista {
    width: 150px;
}

ul.cursos {
    margin-top: 20px;
}

ul li ul {
    display: none;
}

ul li:hover ul.submenu0 {
    display: block;
}

ul.submenu0 li {
    position: relative;
}

ul.submenu0 li:hover ul.submenu1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 70px;
    top: 0px;
    left: 150px;
}

ul.submenu1 > li div {
    position: relative;
}

ul.submenu1 li:hover ul.submenu2 {
    display: block;
    position: absolute;
    width: 100px;
    top: 0px;
    left: 150px;
}

ul.submenu2 li {
    position: relative;
}


li:hover > ul.submenu3 {
    display: block;
    position: absolute;
    width: 100px;
    top: 0px;
    left: 150px;
}

ul li:hover ul {
    display: block;
}

ul li:hover ul li ul {
    display: none;
}

ul li:hover ul li:hover ul {
    display: block;
}

ul li:hover ul li:hover ul li ul {
    display: none;
}

ul li:hover ul li:hover ul li:hover ul {
    display: block;
}

ul li:hover ul li:hover ul li:hover ul li ul {
    display: none;
}

ul li:hover ul li:hover ul li:hover ul li:hover ul {
    display: block;
}
